@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F6FA;
}

header{
    margin-left: 220px;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 220px);
}

header .menu{
    background-color: #d7d7d8;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.menu i{
    font-size: 25px;
}

.menu:hover{
    transform: scale(1.1);
}

header h2{
    color: #8C8C8C;
    font-size: 40px;
    font-weight: 200;
    margin-left: 5px;
}

header .user{
    display: flex;
    align-items: center;
    gap: 15px;
}

.user p{
    font-size: 20px;
    color: #8C8C8C;
}

.user i{
    color: #747474;
    font-size: 25px;
    cursor: pointer;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #007BFF;
    color: white;
    position: fixed;
}

.sidebar h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    width: 100%;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

.sidebar li i{
    width: 30px;
    padding-right: 10px;
}

.sidebar li:hover {
    background-color: #339CFF;
}

li.active{
    background-color: #0466cf;
    padding: 16px 16px;
}