<header>
    <div class="menu">
        <i class="fa-solid fa-bars"></i>
    </div>

    <h2 id="page-title">Clientes</h2>

    <div class="user">
        <p>Olá, <username></username></p>
        <i class="fa-solid fa-user"></i>

        <div class="config-box">
            <ul>
                <li id="controlPanel">
                    <i class="fa-solid fa-sliders"></i> Painel de Controle
                </li>
                <li id="returnControlPanel" class="hiding">
                    <i class="fa-solid fa-rotate-left"></i> Retornar
                </li>
                <li onclick="logout()">
                    <i class="fa-solid fa-right-from-bracket"></i> Sair
                </li>
            </ul>
        </div>
    </div>
</header>
