<div class="sidebarControlPanel">
    <h2><i class="fa-solid fa-dog"></i> VittaPet</h2>
    <ul>
        <li redirectPage="funcionarios" id="sidebarBtn" class="active"><i class="fa-solid fa-user"></i> Funcionários</li>
        <li redirectPage="salarios" id="sidebarBtn"><i class="fa-solid fa-file"></i> Salários</li>
        <li redirectPage="presenca" id="sidebarBtn"><i class="fa-solid fa-tags"></i> Presença</li>
        =<li redirectPage="avaliacao" id="sidebarBtn"><i class="fa-solid fa-tags"></i> Avaliação</li>
    </ul>
</div>