<div class="sidebar">
    <h2><i class="fa-solid fa-dog"></i> VittaPet</h2>
    <ul>
        <li redirectPage="servicos" id="sidebarBtn"><i class="fa-solid fa-file"></i> Serviços</li>
        <li redirectPage="produtos" id="sidebarBtn"><i class="fa-solid fa-tags"></i> Produtos</li>
        <li redirectPage="vendas" id="sidebarBtn"><i class="fa-solid fa-cart-shopping"></i> Vendas</li>
        <li redirectPage="clientes" id="sidebarBtn"><i class="fa-solid fa-user"></i> Clientes</li>
    </ul>
</div>